:root {
	--color-header: #eaeaea;
	--color-notification: #8edafc;
	--color-active: #e9ebeb;
	--color-icons: #b1b1b1;
	--color-recived-message: #d5f9ba;
	--color-sent-message: #ffffff;
}
*{
    list-style: none;
}
.avatar  {
    width: 50px;
}
#app {
    font-family: "Roboto", sans-serif;
}
#myavatar{
    width: 50px;
    height: 50px;
}
#app {
    background: linear-gradient(180deg,#009688 20%, #D8DBD5 20% );
}

#contacts-bar {
    width: 600px;
    background-color: var(--color-sent-message);
}
#contacts-bar .navbar {
    border-right: 1px solid var(--color-icons);
}
i {
    padding: 10px;
    color: var(--color-icons);
}
#notification {
    background-color: var(--color-notification);
}
#notification li div {
    background-color: var(--color-sent-message);
    width: 50px;
    aspect-ratio: 1 / 1;
}
#notification li div i {
    color: var(--color-notification);
    font-size: larger;
}
#contacts {
    min-height: 80px;
}
#contacts>div {
    height: 100%;
    overflow-y: auto;
}

#chat-bar {
    width: calc(100% - 300px);
    background-image: url(../img/mine.jpg)
}
.navbar {
    height: 70px;
    background-color: var(--color-header)
}